html, body {
  margin:0;
  padding:0;
  width:100%;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 1024px;
  height: 700px;
  border: 1px solid #000;
  overflow: auto;
  background-image: url(../../../public/transparent.svg);
  background-repeat: repeat;
  background-position: top left;
}

.custom-full {
  position:absolute;
  width:100%;
  height:100%;
}
