.print-lineage {
  width: 210mm;
  height: 297mm;
}

.print-alignment {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}